body{
    background-color: #e9f1f4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}
header{
    text-align: center;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

#profile-container{
    display: grid;
    place-items: center;
    gap: 2rem;
}

.card{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 1rem;
    border-bottom: rgb(156 192, 135) 4px solid;
}

.card:hover{
    cursor: pointer;
}

.tag{
    background-color: rgb(156 192, 135);
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
}

/* Card */
.card .main{
    padding: 0.5rem;
    text-align: center;
    line-height: 10px;
}
.card .main .name{
    font-weight: bold;
}
.card .main .position{
    font-weight: bold;
}
.card .image-profile{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

/* Description */
.description{
    background-color: #e9f1f4;
    border: #b7cad1 1px solid;
    border-radius: 7px;
    padding: 6px 14px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border-radius: 7px;
  background-color: #fefefe;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width:480px) {
    #profile-container{
        grid-template-columns: auto;
        gap: 1rem;
    }
    .card{
        padding: 0  ;
        width: 250px;
    }
    .modal-content{
        width: 80%;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    #profile-container{
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    .card{
        width: 300px;
    }
    .modal-content{
        width: 80%;
    }
}

@media only screen and (min-width:769px){
    #profile-container{
        grid-template-columns: auto auto auto;
    }
    .card{
        width: 400px;
    }
    .modal-content{
        width: 40%;
    }
}